body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.row {
    text-align: center;
    padding: 10px;
    justify-content: space-around;
    align-items: flex-start;
}

.card{
    margin-bottom: 20px;
    margin-top: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover .card-header {
    box-shadow: inset 0px 0px 8px
    rgba(189, 195, 199, 1), 0 0 15px
    rgba(189, 195, 199, 1);
}